h4
{
    padding-bottom: 2rem;
}
.hook-1
{
    background-color: aliceblue;
    color: black;
    margin-bottom: 2rem;
    line-height: 2rem;
}

.hook-1 > button
{
    background-color: yellow;
    color: black;
    text-align: center;
    outline: none;
    border: 1px solid black;
    padding: 0.5rem;
}

#input-form
{
    background-color: white;
    text-align: left;

}

#input-form>h3
{
    padding-bottom: 2rem;
    text-transform: uppercase;
    letter-spacing: normal;
    color: crimson;
    text-align: center;
}


#input-form > input
{
    width: 100%;
    background-color: aliceblue;
    padding: 1rem;
    border-radius: 0;
}

#choose-color
{
    background-color: black;
    color: white;
    display: flex;
    gap: 1rem;
    text-align: center;
    margin-bottom: 2rem;

}

#useeffect
{
    background-color: beige;
    color: black;
    margin-bottom: 2rem;
}

#adding
{
    padding: 0.3rem 0.6rem;
    background-color: darkorange;
    border:1px solid black;
    color: black;
    font-size: 16px;
    font-weight: bold;
    outline: none;
}

#usecontext
{
    background-color: white;
    color: black;
    margin-bottom: 2rem;
    line-height: 2rem;
    text-align: center;
}

#counter
{
    width: 50%;
    background-color: yellow;
    color: black;
    text-align: center;
    padding: 1rem;
    border: none;
    outline: none;

}
#greet
{
    width: 50%;
    background-color:blue;
    color: black;
    text-align: center;
    padding: 1rem;
    border: none;
    outline: none;
}

#componentA
{
border: 1px solid  plum;
margin-bottom: 1rem;
padding: 0.5rem;
background-color: white;
text-align: left;
}

#componentB
{
border: 1px solid darkorange;
margin-bottom: 1rem;
padding: 0.5rem;
background-color: white;
text-align: left;
}
#componentD
{
    border: 1px solid violet;
    margin-bottom: 1rem;
    padding: 0.5rem;
    background-color: white;
    text-align: left;

}

#useref
{
    background-color: white;
    color: black;
    margin-bottom: 2rem;
    text-align: center;
}

#inputbox
{
    width: 100%;
    outline: none;
    background-color: #F5F5F5;
    border: none;
    padding: 1rem;
    margin-bottom: 2rem;
}
